node_modules/
.pnpm-store/

.env
.env.local
.env.*.local

frontend/.next/
frontend/out/
frontend/next-env.d.ts

backend/dist/

*.log
npm-debug.log*
pnpm-debug.log*


coverage/
.turbo/

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
